/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.env
/public/images/*.png
/public/images/*.jpg
/public/images/*.jpeg
/public/images/*.webp
/public/audios/*.mp3
/public/videos/*.mp4
/public/videos/*.mkv
/public/videos/*.webm
/bootstrap/cache/*.php
/storage/logs
